<h2>
  Chaines de Radio France: <span class="badge"><%= brands.size %></span>
</h2>
<div class="brands">
  <ul class="list-group">
    <% brands.each do |brand| %>
      <%= render 'brands/brand_item', brand: brand %>
    <%end%>
  </ul>
</div>
